.fieldset {
    display: flex;
    flex-direction: column;
}

.fieldset label {
    font-size: 1.1rem;
    font-weight: 500;
}

.fieldset input {
    font-size: 1rem;
    padding: 0.5rem;
    font-family: var(--font-josefin);
    border-style: solid;
    border-radius: 10px;
}

.fieldset input::placeholder {
    font-family: var(--font-josefin);
}