.main {
    background-color: var(--gray-bg-color);
    width: 50vw;
    height: 70vh;
    margin: auto;
    border-radius: 30px;
    border: 3px solid gray;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    filter: drop-shadow(0 0 5px rgba(128, 128, 128, 0.512));
}

.header_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    filter: brightness(0);
    margin-bottom: 0.3rem;
}

.hr {
    height: 1px;
    width: 40%;
    margin: 1rem 0;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 50%;
}

.form button {
    margin: auto;
}

.visibility_wrapper {
    display: flex;
    align-items: center;
}

.error_msg {
    text-align: center;
    color: red;
    font-size: 1.4rem;
    font-weight: bold;
    text-underline-offset: 2px;
}

.button {
    width: 10rem;
}