.dialog {
    min-width: 400px;
    border-radius: 20px;
}


@media only screen and (max-width: 768px) {
    .dialog {
        min-width: auto;
        width: 85%;
    }
}

.close_button {
    border-radius: 999999px;
    height: 26px;
    width: 26px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    margin-bottom: 0.8rem;
    cursor: pointer;
    transition: all 200ms;
    margin: auto 0;
}

.close_button:hover {
    background-color: rgb(208, 208, 208);
}

.dialog_header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.dialog_header span {
    text-align: center;
    vertical-align: super;
    font-weight: bold;
}