:root {
  --white-bg-color: #FFFFFF;
  --gray-bg-color: #F6F6F6;
  --gray-text-color: #737380;
  --blue-color: #2359d8;
  --accent-color: #36D6AD;
  --orange-color: #FC7071;
}

body {  
  background-color: var(--white-bg-color);
}