.disclaimer {
  position: absolute;
  top: 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: red;
  width: 50%;
}

.main {
  border-radius: 3rem;
  color: var(--blue-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 80vw;
  max-height: 80vh;
  height: max-content;
  margin: auto auto;
  text-align: center;
}

.logo_greetings {
  font-size: 1.1rem;
  max-width: 90vw;
  height: auto;
}

.buttons_wrapper {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 60%;
  align-items: center;
}

.buttons_wrapper * {
  width: 80%;
}

.illustration {
  height: 51vh;
  width: auto;
  overflow: hidden;
}

@media only screen and (max-width: 992px) {

  .buttons_wrapper {
    width: 100%;
  }

  .illustration {
    height: auto;
    width: 80vw;
  }
}