.main {
    background-color: var(--grey-bg-color);
    width: 50vw;
    min-height: 70vh;
    margin: auto;
    border-radius: 30px;
    border: 3px solid grey;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    filter: drop-shadow(0 0 5px rgba(128, 128, 128, 0.512));
    margin-bottom: 0.5rem;
}

.header_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    filter: brightness(0);
    margin-bottom: 0.3rem;
}

.hr {
    height: 1px;
    width: 40%;
    margin: 1rem 0;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 50%;
}

.form button {
    margin: auto;
}

.fieldset {
    display: flex;
    flex-direction: column;
}

.fieldset label {
    font-size: 1.1rem;
    font-weight: 500;
}

.fieldset input {
    font-size: 1rem;
    padding: 0.5rem;
    font-family: var(--font-josefin);
    border-style: solid;
    border-radius: 10px;
}

.fieldset input::placeholder {
    font-family: var(--font-josefin);
}

.radios_title {
    font-size: 1.1rem;
}

.radios_wrapper {
    font-size: 1.1rem;
}

.radio_field {
    margin: 10px 0;
}

.visibility_wrapper {
    display: flex;
    align-items: center;
}

.error_msg {
    text-align: center;
    color: red;
    font-size: 1.4rem;
    font-weight: bold;
    text-underline-offset: 2px;
}