.main {
    background-color: var(--gray-bg-color);
    width: 50vw;
    min-height: 70vh;
    margin: auto;
    border-radius: 30px;
    border: 3px solid gray;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    filter: drop-shadow(0 0 5px rgba(128, 128, 128, 0.512));
    margin-bottom: 0.5rem;
}



@media only screen and (max-width: 768px) {
    .main {
        width: 80vw;
        padding: 1rem 0.5rem;
    }
}

.header_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_p {
    text-align: center;
}

.logo {
    filter: brightness(0);
    margin-bottom: 0.3rem;
}

.hr {
    height: 1px;
    width: 40%;
    margin: 1rem 0;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .form {
        width: 90%;
    }
}

.form button {
    margin: auto;
}

.radios_title {
    font-size: 1.1rem;
}

.radios_wrapper {
    font-size: 1.1rem;
}

.radio_field {
    margin: 10px 0;
}

.visibility_wrapper {
    display: flex;
    align-items: center;
}

.error_msg {
    text-align: center;
    color: red;
    font-size: 1.4rem;
    font-weight: bold;
    text-underline-offset: 2px;
}

.creating_user_msg {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
    font-weight: bold;
    text-underline-offset: 2px;
}

.button {
    width: 10rem;
}

