.loading {
    display: flex;
    height: 30vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.main {
    /* background-color: rgba(255, 0, 0, 0.142); */
    width: 80%;
    margin: 0 auto;
    padding: 0.4rem;
}

.catalog_title {
    color: var(--blue-color);
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 10px;
    column-gap: 4px;
}
